<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Login</title></head>
<body>
  <%- include('../partials/flash') %>
  <h1>Login</h1>
  <form method="POST" action="/auth/login">
    <input type="hidden" name="_csrf" value="<%= typeof csrfToken !== 'undefined' ? csrfToken : '' %>">
    <label>Organization Slug</label><br/>
    <input name="org" required placeholder="acme" /><br/><br/>

    <label>Email</label><br/>
    <input type="email" name="email" required /><br/><br/>

    <label>Password</label><br/>
    <input type="password" name="password" required /><br/><br/>

    <button type="submit">Login</button>
  </form>

  <p><a href="/auth/register-org">Create a new organization</a></p>
</body>
</html>
