<% if (success && success.length) { %>
    <div class="flash flash-success"><%= success[0] %></div>
  <% } %>
  <% if (error && error.length) { %>
    <div class="flash flash-error"><%= error[0] %></div>
  <% } %>
  