<!DOCTYPE html>
<html>
<head>
  <title><%= (typeof title !== 'undefined' ? title : 'Engage') %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- body %>
</body>
</html>